/* @font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('%PUBLIC_URL%/fonts/Pretendard-Regular.woff2') format('woff2');
} */
